#calendar {
    max-width: 90%;
    margin:  auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet de profondeur */
}

#calendar th, #calendar td {
    border: 1px solid #ddd;
    padding: 1%; /* Plus d'espace à l'intérieur des cellules */
    text-align: center;
}

#calendar th {
    width: 14%; /* 100% divisé par le nombre de colonnes (7) */
    height: 100px; /* Hauteur fixe pour chaque cellule */
    background: linear-gradient(147deg, #002fad 50%, #00c6fd 100%);
    color: white; /* Texte en blanc pour une meilleure visibilité */
}
#calendar tr {
    height: 100px; /* Hauteur fixe pour les lignes */
}

.calendar-event {
    background-color: #002fad; /* Couleur de fond pour les événements */
    font-size:45%; 
    color: white; /* Texte en blanc pour une meilleure visibilité */
    padding: 10px;
    margin-top: 5px;
    border-bottom: 0.3vw solid #3cff99;
    border-top: 0.3vw solid #00c6fd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Petite ombre pour les événements */
}

.calendar-event:hover {
    background: linear-gradient(147deg, #00c6fd 45%, #3cff99 100%);
    cursor: pointer; /* Indique que l'élément est cliquable */
}
.page-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:150%; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin: auto auto; 
    padding-bottom: 2.5%;
  }