body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 80%;
    width: 80%;
    margin: 3% auto;
}

.info-window {
    font-size: 14px;
    color: #333;
}

.page-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:150%; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin: auto auto; 
  }

.button {
    display: flex;     
    justify-content: center; 
}

.button a{
    padding: 1% 1%;
    background-color: #002fad;
    color: white;
    border-bottom: 0.2vw solid #3cff99;
    border-top: 0.2vw solid #00c6fd;
    box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 60%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 2%;
    transform: scale(1);
    transition: transform 0.5s ease;
}

.button a:hover{
    background: linear-gradient(147deg, #00c6fd 45%, #3cff99 100%);
    box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

.button a:hover i{
    margin-right: 1vw;
    transform: scale(1.5);
    transition: transform 0.5s ease;
}