.page-title {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    /* Make text responsive */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.sightseeing {
    text-align: center;
}

.sightseeing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

.sightseeing-info {
    width: 80%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: color;
    margin-bottom: 20px;
}

.sightseeing-info p{
    font-size: 2vw;
    margin-top: 1em; /* Create a line break between paragraphs */
    margin-bottom: 1em; /* Create a line break between paragraphs */
}

.sightseeing-info h2 {
    color: #002fad;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    margin-bottom: 10px;
}

.sightseeing-images {
    width: 100%;
    max-width: 40vw;
    overflow: hidden;
    /* Hide overflowing content */
}

.sightseeing-images img {
    width: 100%;
    height: 50vh;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
    display: none;
    /* Hide all images by default */
}

/* Navigation buttons */
.image-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-btn {
    padding: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #002fad;
    color: white;
    border-radius: 5px;
    border-bottom: 0.3vw solid #3cff99;
    border-top: 0.3vw solid #00c6fd;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

/* Styles for active and hover states of navigation buttons */


/* Hover effect for buttons */
.nav-btn:hover {
    background: linear-gradient(147deg, #00c6fd 45%, #3cff99 100%);
}
