.page-title {
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    /* Make text responsive */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.sightseeing {
    text-align: center;
}

.sightseeing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

.sightseeing-info {
    width: 100%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    margin-bottom: 20px;
}

.sightseeing-info h2 {
    color: blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    margin-bottom: 10px;
}

.sightseeing-images {
    width: 100%;
    max-width: 40vw;
    overflow: hidden;
    /* Hide overflowing content */
}

.sightseeing-images img {
    width: 100%;
    height: 50vh;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
    display: none;

    /* Hide all images by default */
}

/* Navigation buttons */
.image-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-btn {
    padding: 10px;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: #002fad;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

/* Styles for active and hover states of navigation buttons */


/* Hover effect for buttons */
.nav-btn:hover {
    background: linear-gradient(147deg, #00c6fd 45%, #3cff99 100%);
}

/* Hover effect for icons inside buttons */
.nav-btn:hover i {
    margin-right: 1vw;
    transform: scale(1.5);
    transition: transform 0.5s ease;
}

/* Style for selected buttons */
.nav-btn.selected {
    background: linear-gradient(147deg, #3cff99 45%, #00c6fd 100%);
    box-shadow: 0px 0px 1vw 0.5vw rgba(0, 0, 0, 0.5);
}